@model LoginVM
@{
    ViewData["Title"] = "Login";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Movie" asp-action="Index"><p></p></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div>
                <ul class="navbar-nav flex-grow-1 float-end">


                    @*    <a class="nav-link " asp-controller="User" asp-action="Index" role="button" data-toggle="button">
                    <i class="bi bi-gear"> </i>Management
                    </a>*@

                    <a class="nav-link" asp-controller="Movie" asp-action="register" role="button" data-toggle="button">
                        <i class="bi bi-person-plus-fill"></i> Register
                    </a>



                </ul>

            </div>
        </div>
    </nav>
</header>

<div class="row text">
    <div class="col-md-8 offset-2">
        
            <h1 class="text-primary" style="text-align:center">Login</h1>
        
        <div class="row">
            <div class="col-md-8 offset-2">

<form asp-action="login" asp-controller="Movie" method="post">

    <span asp-validation-for="Email" class="text-danger"></span>
    <label asp-for="Email" class="form-label">Email </label>
    <input asp-for="Email" type="text" class="form-control" />

    <span asp-validation-for="Password" class="text-danger"></span>
    <label asp-for="Password" class="form-label">Password </label>
    <input asp-for="Password" type="password" class="form-control" />

    @if (Model.Message != "")
    {
        <div class="text-danger">@Model.Message</div>
    }
    <br />
    <input class="btn btn-outline-primary" type="submit" value="Login" />

</form>

</div>
</div>
</div>
</div>
